Source: gio-qt
Section: libs
Priority: optional
Maintainer: Gary Wang <wzc782970009@gmail.com>
Build-Depends:
 cmake,
 debhelper-compat (= 13),
 doxygen,
 libglibmm-2.4-dev,
 pkgconf,
 qtbase5-dev,
 qttools5-dev-tools,
 qt6-base-dev,
 qt6-tools-dev-tools,
Rules-Requires-Root: no
Standards-Version: 4.7.0
Homepage: https://github.com/linuxdeepin/gio-qt

Package: libgio-qt-dev
Architecture: any
Section: libdevel
Depends:
 libgio-qt0 (= ${binary:Version}),
 libgio-qt6-0 (= ${binary:Version}),
 libglibmm-2.4-dev,
 ${misc:Depends},
Breaks:
 libgio-qt (<= 0.0.14),
Replaces:
 libgio-qt (<= 0.0.14),
Multi-Arch: same
Description: Gio wrapper for Qt (development files)
 Gio-qt provides Gio wrapper for Qt.
 .
 This package provides the library development files.
 .
 This package is part of DDE (Deepin Desktop Environment).

Package: libgio-qt0
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 libgio-qt (<= 0.0.14),
Replaces:
 libgio-qt (<= 0.0.14),
Conflicts: libgio-qt
Description: Gio wrapper for Qt (Qt5 library)
 Gio-qt provides Gio wrapper for Qt.
 .
 This package provides the libgio-qt library files for Qt5.
 .
 This package is part of DDE (Deepin Desktop Environment).

Package: libgio-qt6-0
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Breaks:
 libgio-qt (<= 0.0.14),
Replaces:
 libgio-qt (<= 0.0.14),
Conflicts: libgio-qt
Description: Gio wrapper for Qt (Qt6 library)
 Gio-qt provides Gio wrapper for Qt.
 .
 This package provides the libgio-qt library files for Qt6.
 .
 This package is part of DDE (Deepin Desktop Environment).
